@model Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="container d-flex flex-column">
    @foreach(var cart_model3d in Model.Cart_Models3D)
    {
        <div class="card d-flex flex-row justify-content-between mt-3">
            <div class="d-flex align-items-center">
                <a asp-controller="Model3D" asp-action="Details" asp-route-id="@cart_model3d.Model3DID" class="text-decoration-none">
                    <img src="@cart_model3d.Model3D.ImageSource" class="card-img-top" style="height: 100px" alt="...">
                </a>
                <div class="ms-3">
                    <h5>
                        @cart_model3d.Model3D.Title
                    </h5>
                    <a class="card-profile" asp-controller="Profile" asp-action="Details" asp-route-id="@cart_model3d.Model3D.OwnerID">@@@cart_model3d.Model3D.Owner.UserName</a>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-between p-3">
                <div>
                    <form asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@cart_model3d.Model3DID">
                        <button class="btn btn-dark">
                        Remove
                       </button>
                    </form>
                </div>

                <div class="d-flex justify-content-end">
                    <div><i class="bi bi-eye"> </i>@cart_model3d.Model3D.Views</div>
                </div>
            </div>
        </div>
    }
    <div class="mt-4">
        <form asp-controller="Cart" asp-action="Buy">
            <button class="btn btn-dark">Buy all</button>
        </form>
    </div>
</div>



        
