@using ModelShop.ViewModels;
@model Model3DDetailViewModel

@*<script src="~/js/model3d-view.js" defer></script>*@
@*
<div class="download-context-menu" style="visibility: hidden">
    <div class="card">
        <div class="card-header">
            <div class="row">ещ
                <div class="col-6 d-flex align-items-center">Download</div>
                <div class="col-6 d-flex flex-row-reverse">
                    <button class="toggle-download btn btn-primary">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            Avaible formats
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="fs-6">
                                .fbx 3MB
                            </div>
                        </div>
                        <button class="btn btn-primary"> download </button>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="fs-6">
                                .obj 2.3MB
                            </div>
                        </div>
                        <button class="btn btn-primary"> download </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class="col-9">
            <div>
                <img class="w-50" src="@Model.Model3D.ImageSource">
            </div>
            <div>
                <h4>
                    @Model.Model3D.Title
                </h4>
            </div>
            <div class="d-flex align-items-center">
                <div>@Model.Model3D.Price$</div>
                @if(Model.IsOwner == false && Model.IsOwned == false){

                    @if (Model.IsInCart)
                    {
                        <form class="ms-2" asp-controller="Model3D" asp-action="RemoveFromCart" asp-route-id="@Model.Model3D.Model3DID">
                            <button class="btn btn-primary">Remove from cart</button>
                        </form>
                    }
                    else
                    {
                        <form class="ms-2" asp-controller="Model3D" asp-action="AddToCart" asp-route-id="@Model.Model3D.Model3DID">
                            <button class="btn btn-primary">Add to cart</button>
                        </form>
                    }
                }
                else
                {
                    <!-- if owned -->
                    <a href="@Model.Model3D.FileSource" target="_blank" class="btn btn-primary ms-2" role="button">
                        @*<button type="button" class="toggle-download btn btn-primary ">*@
                        Download model
                        @*</button>*@
                    </a>
                }

                @if(Model.IsOwner || User.IsInRole("admin")){
                    @*if author or have deletion rules*@
                    <a class="ms-2 btn btn-primary" asp-controller="Model3D" asp-action="Edit" asp-route-id="@Model.Model3D.Model3DID" method="post">
                        Edit
                    </a>
                    <form class="ms-2" asp-controller="Model3D" asp-action="Delete" asp-route-id="@Model.Model3D.Model3DID" method="post">
                        <button class="btn btn-primary ">Delete</button>
                    </form>
                }
                
            </div>
            <hr>
            <div>
                @Model.Model3D.Description
            </div>
            <div class="flex">
                <i class="bi bi-clock"></i>
                @Model.Model3D.CreatedDate
            </div>
            <div class="flex">
                <i class="bi bi-tag"></i>
                @Model.Model3D.ModelCategory.Name
            </div>
            <hr>

            <!-- comments -->
            @*<div>
                <div class="comments-title">
                    <h5>
                        1 comment
                    </h5>
                </div>
                <div class="comment">
                    <div><a href="profilepage" class="text-decoration-none">author</a></div>
                    <small>4 days ago</small>
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis similique est doloribus numquam, nostrum necessitatibus neque totam cum velit minima praesentium laboriosam dolor eos fugiat accusamus reiciendis obcaecati magnam!
                    </div>
                </div>
                <hr>
                <div class="comment">
                    <div><a href="profilepage" class="text-decoration-none">author</a></div>
                    <small>4 days ago</small>
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro perferendis similique est doloribus numquam, nostrum necessitatibus neque totam cum velit minima praesentium laboriosam dolor eos fugiat accusamus reiciendis obcaecati magnam!
                    </div>
                </div>
            </div>*@
        </div>
        <!-- remendation tab -->
        <!-- <div class="col-3">
            hello
        </div> -->
    </div>
</div>