@using ModelShop.ViewModels;
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
<div class="container">
        <div class="input-group rounded">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon"
            asp-for="Search"/>
            <span class="input-group-text border-0" id="search-addon">
                    <button class="btn btn-dark">
                        <i class="bi bi-search"></i>
                    </button>
            </span>
        </div>

        <div class="row g-3 mt-2">
            <div class="col-auto">
                <select class="form-control" asp-for="ModelCategoryID" onchange="this.form.submit()">
                    @if(Model.ModelCategoryID == -1)
                    {
                        <option selected value="-1">All categories</option>
                    }
                    else
                    {
                        <option value="-1">All categories</option>
                    }

                    @foreach (var category in Model.ModelCategories)
                    {
                        if(Model.ModelCategoryID == category.ModelCategoryID)
                        {
                            <option selected value="@category.ModelCategoryID">@category.Name</option>
                        }
                        else{
                            <option value="@category.ModelCategoryID">@category.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="col-auto">
                <select asp-for="OrderBy" class="form-control" onchange="submit()" >
                    @foreach (var order in Enum.GetValues(typeof(OrderBy)))
                    {
                        <option value="@order">@order</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center">
                <input type="text" class="form-control" placeholder="0" asp-for="MinPrice"/>
                <div class="ms-2">
                    to
                </div>
                <input type="text" class="form-control ms-2" placeholder="30000" asp-for="MaxPrice"/>
                </div>
            </div>
        </div>

    @if(Model.IsFindResult){
        <h4 class="mt-4">
            Finded total @Model.ResultsCount results
        </h4>
    }


    <div class="row row-gap-4">
        <!-- allow only 16/9 images -->
        @foreach (var model3d in Model.Models3D)
        {
            <div class="col-12 col-md-6 col-xl-3 mt-4">
                <div class="card">
                    <a asp-controller="Model3D" asp-action="Details" asp-route-id="@model3d.Model3DID" class="text-decoration-none">
                        <img src="@model3d.ImageSource" class="card-img-top" alt="...">
                    </a>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <h5>
                                @model3d.Title
                            </h5>
                            <h6 style="color: #F65A5A">
                                @(model3d.Price==0?"Free":$"{model3d.Price}$")
                            </h6>
                        </div>

                        <div class="d-flex">
                            <div class="card-footer-left">
                                <a class="card-profile" asp-controller="Profile" asp-action="Details" asp-route-id="@model3d.OwnerID">@@@model3d.Owner.UserName</a>
                            </div>
                            <div class="card-footer-right">
                                <div><i class="bi bi-eye"> </i>@model3d.Views</div>
                                @*<div><i class="bi bi-chat"> </i>count</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
        
    <div class="mt-4">
            @if (Model.PageCount > 1)
            {

                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (i == Model.Page)
                        {
                            <li class="page-item active">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button class="page-link" asp-route-Page="@i">@i</button>
                            </li>
                        }
                    }
                </ul>
            }

    </div>
</div>
</form>
